global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'incident-reports-monitor'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['host.docker.internal:8080']
        labels:
          application: 'incident-reports'
          environment: 'dev'

  - job_name: 'alloy'
    static_configs:
      - targets: ['alloy:12345']

